.janelaModal {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: rgb(0, 0, 0, 0.5);
}

.modal {
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.503);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;

}

.Close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: red;
    font-size: 20px;
    cursor: pointer;
}

.janelaModal.abrir{
    display: flex;
}